@use "@/styles/variables" as *;
header {
    .inner {
        max-width: $container-lg;
        display: flex;
        justify-content: space-between;
        padding: $space-lg 0;

        h1 {
            width: 136px;
        }
        .right {
            display: flex;
            align-items: center;
            
            ul{
                
                display: flex;
            }

            .logout-btn {
                border-radius: 99px;
                border: 1px solid $fg;
                padding: 5.9px 11.8px;
            }
        }
    }
}