@use "@/styles/variables" as *;

.post-section{
    .inner {
        max-width: $container-md;

        .post-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: $space-lg;

            .post-title {
                font-size: $text-xl;
                font-weight: $fw-bold;
            }

            .btn.primary {
                width: auto;
            }
        }
    }
}
